<section class="about-section">
    <h2>Haqqımızda</h2>

    <div class="about-vector">
        <img src="/img/About2.png" alt="" />
    </div>

    <div class="about-info">
        <p>
            BRcargo kuryer şirkəti 13 il logistika sahəsində fəaliyyət göstərən
            Türkiyə əsaslı Gets Global Lojistik şirkətinin törəmə şirkətidir. Gets
            Lojistik olaraq hava, quru, dəmir və dəniz yolu ilə daşınmalardan
            qazandığımız təcrübəni BRcargo tətbiq edərək Azərbaycan xalqına
            yüksək keyfiyyətli və operativ xidmət göstərməkdən qürur duyuruq.
            Bizimlə sifariş zamanı siz Türkiyədən daşınan bağlamalarınızı yeni
            yaranmış və daha az təcrübəyə malik şirkətə deyil, beynəlxalq yük
            daşıma sahəsində 13 illik tərcübəyə sahib şirkətə həvalə etmiş
            olursunuz.
        </p>
        <p>
            BRcargo kuryer şirkəti isə 2018-ci ildən etibarən fəaliyyət göstərən
            sürətli poçt şirkətidir. Şirkətimiz hal-hazırda AZAL, SilkWay, Türk
            Hava Yolları kimi təcrübəli aviaşirkətlərlə əməkdaşlıq edərək
            Türkiyədən şəxsi və korporativ yüklərin daşınmasını həyata keçirir.
            Bizim vasitəmizlə daşınan və beynəlxalq yük daşıma qaydalarına əsasən
            qablaşdırılmış bütün bağlamalar üçün “Ödənişsiz Sığortalama” xidmətini
            təklif edirik.
        </p>
        <p>
            Aydındır ki, Türkiyə onlayn alış-veriş mağazaları bəzən məhsulun
            rəngini, ölçüsünü səhv göndərə bilər və ya məhsul qüsurlu ola bilər.
            Bu kimi halların qarşısını almaq və müştəri məmnuniyyətini hər zaman
            yüksək səviyyədə saxlamaq üçün “Geri Qaytarma” xidmətimizi
            aktivləşdirmişik. Biz bütün Azərbaycan əhalisinin Türkiyədən onlayn
            alış-veriş etməsini və sifarişlərini sürətli şəkildə əldə etməsini
            təmin etmək üçün bağlamaları bütün Azərbaycana poçt vasitəsilə
            çatdırırıq. Bizimlə siz həm də onlayn ödəniş qəbul etməyən, yalnız
            Türkiyədə “Kapıda Ödeme” tələb edən mağazalardan da alış-veriş edə
            bilərsiniz. Operativ “Mənim üçün Sifariş Et” xidməti və fasiləsiz
            işləyən anbarımız, peşəkar müştəri xidmətlərimiz, rahat və zəngin
            interfeysli veb saytımızla xidmətinizdəyik!
        </p>
    </div>
</section>