  <!-- Part Of Section -->

<section class="carousel">
    <div class="slider-wrap">
        <div class="image-slider">
            <div class="img-wrap">
                <h1>ALIŞVERİŞƏ BAŞLAYAQ</h1>
                <img src="/img/slide1.png" alt="" />
            </div>
            <div class="img-wrap">
                <h1>SÜRƏTLİ, QAPIDAN QAPIYA, ÇATDIRILMA</h1>
                <img src="/img/slide2.png" alt="" />
            </div>
            <div class="img-wrap">
                <h1>YENİ FİLİALIMIZ XİDMƏTİNİZDƏ</h1>
                <img src="/img/slide3.png" alt="" />
            </div>
        </div>
        <div class="slider-progress">
            <span></span>
        </div>
    </div>
</section>
<!-- Part Of Section end -->
<!-- Part Of Partner start -->
<section class="partner-section">
    <div class="allbrands">
        <div class="slider brands">
            <div class="slide-track">
                <div class="slide">
                    <img src="/img/Partner/1.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/2.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/3.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/4.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/5.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/6.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/7.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/1.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/2.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/3.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/4.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/5.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/6.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/img/Partner/7.png" height="100" width="250" alt="" />
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Part Of Partner end -->
<!-- Part Of News start -->
<section class="news-section">
    <figure class="snip1369 orange">
        <img src="/img/News Img/1.png" alt="pr-sample16" />
        <div class="image"><img src="/img/News Img/1.png" alt="pr-sample16" /></div>
        <figcaption>
            <a href="/home/Readmore"><h3>TRACKING ID</h3></a>
            <p>Tracking ID, bir göndərinin və ya paketin izlənə bilərliyi üçün verilən bənzərsiz bir təyinatdır.</p>
        </figcaption>
        <span class="read-more">

            Daha çox <i class="ion-android-arrow-forward"></i>
        </span>
        <a href="/home/Readmore"></a>
    </figure>

    <figure class="snip1369 orange">
        <img src="/img/News Img/2.png" alt="pr-sample16" />
        <div class="image"><img src="/img/News Img/2.png" alt="pr-sample16" /></div>
        <figcaption>
            <a href="/home/Readmore"><h3>BƏYANNAMƏ DOLDURULMASI</h3></a>
            <p>Bir bəyannamənin necə doldurulacağı, beyannamənin növünə və məqsədinə görə dəyişə bilər. </p>
        </figcaption>
        <span class="read-more">

            Daha Çox <i class="ion-android-arrow-forward"></i>
        </span>
        <a href="/home/Readmore"></a>
    </figure>

    <figure class="snip1369 orange">
        <img src="/img/News Img/3.png" alt="pr-sample16" />
        <div class="image"><img src="/img/News Img/3.png" alt="pr-sample16" /></div>
        <figcaption>
            <a href="/home/Readmore"><h3>MƏHSUL SİFARİŞİ</h3></a>
            <p>
                Saytımızda məhsul sifariş etmək üçün bəzi adımları izləyə bilərsiniz.Əvvəlcə saytda istədiyiniz məhsulu
                axtarın və seçin.
            </p>
        </figcaption>
        <span class="read-more">

            Daha Çox <i class="ion-android-arrow-forward"></i>
        </span>
        <a href="/home/Readmore"></a>
    </figure>

</section>
<!-- Part Of News END -->
<!-- Part Of Footer START -->
