<section class="magazine">

    <h2>Mağazalar</h2>

    <div class="magazine-photos">
        <div>
            <img src="/img/Partner/1.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/2.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/3.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/5.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/4.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/6.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/7.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/avva.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/BSL-logo.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/farfetch.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/fashfed-bonaz-cashback-kupon-iade.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/fiverrr.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/gap2.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/godaddy.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/hatemoglu.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/hillcity-gap.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/hummel.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/karaca-home-newnew.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/levis.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/linens.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/logitech.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/Beko_logo.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/mavitr.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/network.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/nike.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/perspective.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/pierre-cardin-new.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/puma.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/udemy-bon.png" alt="">
        </div>
        <div>
            <img src="/img/Partner/tudor.png" alt="">
        </div>
    </div>

</section>