<div class="readmore-news">
    <div class="readmore-news-title">
        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit !</h3>
    </div>
    <div class="readmore-news-container">
        <div class="readmore-news-img">
            <img src="/img/News Img/1.png" alt="" />
            <div class="readmore-news-time">
                <p>09.04.22 20:17</p>
            </div>
        </div>
        <div class="readmore-news-text">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto
                nisi debitis, soluta voluptate ratione saepe unde perspiciatis eum
                sapiente perferendis ipsum accusantium ullam cum nostrum blanditiis
                magni eaque atque eius?
            </p>
        </div>
    </div>
</div>



