@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&family=Poppins:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>www.brcargo..com</title>
</head>

<body>

    <!-- Part Of NavBar START -->
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="/home/Index" class="nav-branding">BRcargo</a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="/home/Index" class="nav-link">
                            Ana Səhifə
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/Xidmetler" class="nav-link">Xidmətlər</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/Rates" class="nav-link">Tariflər</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/Magazine" class="nav-link">Mağazalar</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/About" class="nav-link">Haqqımızda</a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/Login" class="nav-link">Giriş</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/Admin" class="nav-link">Admin</i></a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </header>

    <section class="admin-panel">

        <div class="admin-panel-left">
            <div class="admin-panel-left-profil">
                <div>
                    <img src="https://i.pinimg.com/originals/d4/74/1c/d4741cb779ddec6509ca1ae0cb137a7d.jpg" alt="">
                </div>
                <div>
                    <h3>Hasan Babayev</h3>
                    <p>ID:12345678</p>
                </div>
            </div>
            <div class="admin-panel-left-li">
                <ul>

                    <a href="/home/Sifariset">
                    <li><i class="fa-solid fa-truck"></i> Sifariş et</li>
                    </a>
                    <a href="/home/Baglamalar">
                    <li><i class="fa-solid fa-truck-ramp-box"></i> Bağlamalarım</li>
                    </a>
                    <a href="/home/Balance">
                    <li><i class="fa-solid fa-scale-balanced"></i> Balans</li>
                    </a>
                    <a href="/home/Settings">
                    <li><i class="fa-solid fa-gear"></i> Tənzimləmələr</li>
                    </a>
                    <a href="/home/Notifications">
                    <li><i class="fa-solid fa-message"></i> Bildirişlər</li>
                    </a>
                    <a href="/home/Adminpanel">
                    <li><i class="fa-solid fa-screwdriver-wrench"></i> Admin panel</li>
                    </a>
                    <a href="/home/Adminidare">
                    <li><i class="fa-solid fa-lock"></i> Admin idarə etmə</li>
                    </a>
                    <a href="/home/Admintesdiq">
                    <li><i class="fa-solid fa-ticket"></i> Admin təsdiq</li>
                    </a>

                </ul>
            </div>

        </div>
        <div class="admin-panel-right">
            <div class="order-bottom-text">
                <div class="order-bottom-img">
                    <img src="https://booster.io/wp-content/uploads/custom-order-numbers-e1438361586475.png " alt="">
                </div>
                <div class="order-bottom-lorem">
                    <h2>Sifariş etmə qaydası</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore eveniet minima ea adipisci omnis deserunt
                        ut sunt! Officia sequi dignissimos molestias! Aperiam commodi quia neque quasi architecto voluptate
                        laboriosam quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quod incidunt mollitia
                        nulla. Eius, debitis dolorum ut ex eligendi quidem, dicta quam odio voluptate, praesentium assumenda
                    </p>
                </div>
            </div>
            <form action="">

                <div class="admin-panel-right-order">
                    <div class="admin-panel-right-order-one">
                        <input type="text" placeholder="Ad">
                        <input type="text" placeholder="Link">
                        <input id="mehsulsayi" type="number" placeholder="Məhsulun sayı">
                    </div>

                    <div class="admin-panel-right-order-two">
                        <input type="text" placeholder="Məhsulun qiyməti">
                        <input type="text" placeholder="Kargo qiyməti">
                        <select name="" id="">
                            <option value="">Mağaza seç</option>

                            <option value="">Zara</option>
                            <option value="">H&M</option>
                            <option value="">Mango</option>
                            <option value="">Topshop</option>
                            <option value="">Forever 21</option>
                            <option value="">Gap</option>
                            <option value="">Bershka</option>
                            <option value="">Pull&Bear</option>
                            <option value="">Stradivarius</option>
                            <option value="">Massimo Dutti</option>
                            <option value="">ASOS</option>
                            <option value="">Urban Outfitters</option>
                            <option value="">American Eagle Outfitters</option>
                            <option value="">Abercrombie & Fitch</option>
                            <option value="">Hollister</option>
                            <option value="">Victoria's Secret</option>
                            <option value="">Nike</option>
                            <option value="">Adidas</option>
                            <option value="">Puma</option>
                            <option value="">Reebok</option>
                            <option value="">Converse</option>
                            <option value="">Vans</option>
                            <option value="">New Balance</option>
                            <option value="">Tommy Hilfiger</option>
                            <option value="">Calvin Klein</option>
                            <option value="">Levi's</option>
                            <option value="">Ralph Lauren</option>
                            <option value="">Diesel</option>
                            <option value="">Guess</option>
                            <option value="">Lacoste</option>
                        </select>
                    </div>

                    <div class="admin-panel-right-order-three">
                        <button>Təsdiqlə</button>
                    </div>

                </div>

            </form>
        </div>
    </section>



    <script src="kargo.js"></script>
</body>
